
html{
    width: 100vw;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}
a{
    font-size:16px;
    font-weight: 600;
}
h2{
    font-size:21px;
    font-weight:800 ;
    margin :  0;
}
h3{
    font-size:18px;
    font-weight:800 ;
    margin : 0;
}
h4{
    font-size:16px;
    font-weight:800 ;
    margin : 0;
}
p{
    margin : 0 ;
    font-size: 16px;
    font-weight:600;
}
.input{
    border : 1px  solid #F2F2F2 ;
    padding-left : 18px ;
}
button{
    color: white ;
    background-color: #0065FC;
    border: none;
    border-radius: 0px 12px 12px 0px;
    padding : 0 30px 0 35px ;
}
/* hide scroll bar */

body {
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    height: 100%;
    width: 100vw;
}
::-webkit-scrollbar {
    display: none;
  }



/* My mini Bootstrap */
.d-flex{
display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.align-items-end{
    align-items: flex-end;
}
.align-items-start{
    align-items: flex-start;
}
.align-content-around{
    align-content:space-between;
}
.self-end{
    align-self: flex-end;
}
.self-start{
    align-self: flex-start;

}
.mr-2{
    margin-right: 2vw;
}

.mt-1{
    margin-top: 1vh;
}
.mt-3{
    margin-top: 3vh;
}
.mt-4{
    margin-top:4vh;
}
.ml-12px{
    margin-left: 12px;
}
.ml-24px{
    margin-left: 24px;
}
.ml-1{
    margin-left: 1vw;
}
.ml-2{
    margin-left: 2vw;
}
.ml-3{
    margin-left: 3vw;
}
.mb-1{
    margin-bottom: 1vh;
}
.mb-2{
    margin-bottom: 2vh;
}
.mb-3{
    margin-bottom: 3vh;
}
.mx-1{
    margin-left : 1vw ;
    margin-right : 1vw ;
}
.mx-2{
    margin-left : 2vw ;
    margin-right : 2vw ;
}
.my-1{
    margin-top : 1vh ;
    margin-bottom : 1vh ;
}
.my-2{
    margin-top : 2vh ;
    margin-bottom : 2vh ;
}
.w-100{
width : 100%;
}
.w-70{
    width: 60vw;
}
.h-100{
    height : 100%;
}
.h-50{
    height : 50%;
}
.h-70px{
height : 70px;
}
.h-60px{
    height :60px;
    }
/* my Class */
.header{
    padding : 0vh 2vw 0vh 3vw ;
}
.footer{
    height :170px;
    background :#F2F2F2;
    padding : 5vh 30% 0vh 0vw;
}
.img-card{
    overflow: hidden;
    height : 190px;
    width : 235px;
    border-radius : 15px ;
    border : 6px solid white;
    background-color: white;
    
}
.pop-card{
    overflow: hidden;
    height : 133px;
    width : 337px;
    border-radius : 15px ;
    border : 6px solid white;
    background-color: white;
}
.hebergement-img-a{
    position: absolute ;
    top : -25px;
    left : -10px;
    width:250px;
}
.hebergement-img-b{
    position: absolute ;
    top : -25px;
    left : -10px;
    width:250px;
}
.hebergement-img-c{
    position: absolute ;
    top : -25px;
    left : -10px;
    width:250px;
}
.hebergement-img-d{
    position: absolute ;
    top : -57px;
    left : -5px;
    width:245px;
}
.hebergement-img-e{
    position: absolute ;
    top : -12px;
    left : -5px;
    width:245px;
}
.hebergement-img-f{
    position: absolute ;
    top : -127px;
    left : -5px;
    width:245px;
}
.populaire-img-a{
    position: absolute ;
    top : -6px;
    left : -47px;
    width:220px;
}
.populaire-img-b{
    position: absolute ;
    top : -6px;
    left : -33px;
    width:195px;
}
.populaire-img-c{
    position: absolute ;
    top : -40px;
    left : -7px;
    width:140px;
}
.hebergement-imgs{
height : 428px;
}
.hebergement-img-contenair{
    overflow:hidden;
    position : relative;
    width :250px ;
    height :115px;
     margin-bottom: 8px;
}
.populaire-img-contenair{
    overflow:hidden;
    position : relative;
    width :128px ;
    height :137px;
}
.activite-img{
    position: absolute;
    width:100%;
}
.activite-img-large-a{
    position: absolute;
    top:5px;
    left:-180px;
    width : 660px;
}
.activite-img-b{
    position: absolute;
    top:-105px;
    left:-0px;
    width : 300px;
}
.activite-img-c{
    position: absolute;
    top:-16px;
    left:-0px;
    width : 300px;
}
.activite-img-large-d{
    position: absolute;
    top:5px;
    left:-180px;
    width : 660px;
    filter: contrast(0.7) brightness(1.4) saturate(1.2);
    
}
.activite-img-e{
    position: absolute;
    top:1px;
    left:-0px;
    width : 300px;
}
.activite-img-f{
    position: absolute;
    top:-5px;
    left:-0px;
    width : 300px;
}
.activite-img-small-contenair-pomegue{
    position: relative;
    overflow:hidden;
    width :300px ;
    height :180px;
    border-radius:20px 20px 0px 0px;
}
.activite-img-small-contenair-frioul{
    position: relative;
    overflow:hidden;
    width :300px ;
    height :110px;
    border-radius:20px 20px 0px 0px;
}
.activite-img-small-contenair-notre{
    position: relative;
    overflow:hidden;
    width :300px ;
    height :140px;
    border-radius:20px 20px 0px 0px;
}
.activite-img-small-contenair-longchamp{
    position: relative;
    overflow:hidden;
    width :300px ;
    height :155px;
    border-radius:20px 20px 0px 0px;
}

.activite-img-footer{
    padding-left :10px;
    height :55px;
    border-radius:0px 0px 20px 20px ;
}
.activite-img-big-contenair{
    position: relative;
    overflow:hidden;
    width :300px ;
    height :390px;
    border-radius:20px 20px 0px 0px;

}
.navigation{
    padding: 0px 20px 20px 20px ;
    border-top :2px solid  transparent   
}
.active{
color : #0065FC;
border-top :2px solid  #0065FC
}
.text-blue{
    color : #0065FC;
}
.icon-research{
    background: #F2F2F2;
    width :50px;
    height:50px;
    border-radius: 12px 0px 0px 12px;
}
.icon-info{
    border : 1px  solid  #F2F2F2;
    width :20px;
    height:20px;
    border-radius:100% ;
    margin-right: 12px;
}
.icon-blue{
    color : #0065FC;
}
.icon-grey{
    color : #D9D9D9;
}
.icon-filtre{
     font-size : 20px;
}
.icon-bill{
    font-size : 20px;
    transform :scaleX(0.7)
}

.filtres{
    position : relative;
    padding-left : 53px;
    padding-right :23px;
    border: 2px solid #D9D9D9;
    border-radius: 48px;
    height :48px;
    width : 190;
    z-index : 0
}
.blue-circle{
    position : absolute;
    background: #DEEBFF ;
    left: -2px;
    height :52px;
    width :52px;
    border-radius: 50%;
    z-index : 2 
}
.nav{
    padding : 0vh 0vw 0vh 3vw ;
}
.hebergement{
    padding : 5vh 2vw 4vh 2vw;
    margin : 0vh 0vw 0vh 1vw ;
    max-height : 630px;
    max-width : 820px;
    background : #F2F2F2;
    border-radius: 15px;
}
.populaire{
    padding : 4vh 2vw 3vh 2vw;
    max-width : 420px;
    margin : 0vh 2vw 0vh 1vw ;
    background : #F2F2F2;
    border-radius: 15px;
}
.pop-p{
    position: relative;
    top : -20px;
    left:8px;
}
.pop-width{
    width :160px;
    padding-left : 20px
}
.mcard-5px{
    margin : 5px 0px 5px 12px ;
}
.first-p{
    margin : 9px 0px 17px 0px;
}
.demi-font{
    font-size:0.9rem;
}
.shadow{
    border-radius:20px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

