
html{
    width: 100vw;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}
a , a:active, a:visited, a:focus { 
    text-decoration: none;
    font-size:16px;
    font-weight: 600;
    cursor: pointer;
}

h2{
    font-size:21px;
    font-weight:800 ;
    margin :  0;
}
h3{
    font-size:18px;
    font-weight:800 ;
    margin : 0;
}
h4{
    font-size:16px;
    font-weight:800 ;
    margin : 0;
}
p{
    margin : 0 ;
    font-size: 16px;
    font-weight:600;
}
span{
    margin : 0 ;
    font-size: 16px;
    font-weight:600;
}
.input{
    border : 1px  solid #F2F2F2 ;
    padding-left : 18px ;
    font-weight: 800;
    font-size:18px;
    font-family: 'Raleway', sans-serif;
}
button{
    color: white ;
    background-color: #0065FC;
    border: none;
    border-radius: 0px 12px 12px 0px;
    padding : 0 30px 0 35px ;
    cursor: pointer;
}
/* hide scroll bar */

body {
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    height: 100%;
    width: 100vw;
}
::-webkit-scrollbar {
    display: none;
  }



/* My mini Bootstrap */
.d-flex{
display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-evenly{
    justify-content: space-evenly;
}
.align-items-center{
    align-items: center;
}
.align-items-end{
    align-items: flex-end;
}
.align-items-start{
    align-items: flex-start;
}
.align-content-around{
    align-content:space-around;
}
.align-content-between{
    align-content:space-between;
}
.self-end{
    align-self: flex-end;
}
.self-start{
    align-self: flex-start;
}
.text-start{
    text-align: start;
}
.pl-15px{
    padding-left:15px;
}
.mr-30px{
    margin-right: 30px;
}
.ml-10px{
    margin-left: 10px;
}
.ml-12px{
    margin-left: 12px;
}
.ml-24px{
    margin-left: 24px;
}
.mb-20px{
    margin-bottom: 20px;
}
.mb-30px{
    margin-bottom: 15px;
}
.w-50{
    width: 50%;
}
.w-100{
width : 100%;
}

.w-70{
    width: 60vw;
}
.h-100{
    height : 100%;
}
.h-50{
    height : 50%;
}
.h-60px{
    height :60px;
}
.h-65px{
    height :65px;
}
.h-70px{
height : 70px;
}
.fw-800{
    font-weight: 800;
}

/* my Class */

.header{
    padding : 0vh 75px 0vh 55px ;
    max-height: 80px;
}
.footer{
    height :175px;
    background :#F2F2F2;
    padding : 45px 25% 0vh 55px;
    margin-top: 60px;
}
.img-card{
    overflow: hidden;
    height : 189px;
    width : 235px;
    border-radius : 15px ;
    border : 6px solid white;
    background-color: white;
    margin-bottom : 0px;
    cursor: pointer;
}
.img-card:hover .hebergement-img-contenair{
    filter: brightness(1.05)
}
.first-title{
    margin : 38px  0 0px 0;
}
.p-card{
    font-size :14px
}
.pop-card{
    overflow: hidden;
    height : 133px;
    width : 337px;
    border-radius : 15px ;
    border : 6px solid white;
    background-color: white;
    cursor: pointer;
}
.pop-card:hover .populaire-img-contenair{
    filter: brightness(1.05)
}
.hebergement-img-a{
    position: absolute ;
    top : -25px;
    left : -10px;
    width:250px;
}
.hebergement-img-b{
    position: absolute ;
    top : -25px;
    left : -10px;
    width:250px;
}
.hebergement-img-c{
    position: absolute ;
    top : -25px;
    left : -10px;
    width:250px;
}
.hebergement-img-d{
    position: absolute ;
    top : -57px;
    left : -5px;
    width:245px;
}
.hebergement-img-e{
    position: absolute ;
    top : -12px;
    left : -5px;
    width:245px;
}
.hebergement-img-f{
    position: absolute ;
    top : -127px;
    left : -5px;
    width:245px;
}
.populaire-img-a{
    position: absolute ;
    top : -6px;
    left : -47px;
    width:220px;
}
.populaire-img-b{
    position: absolute ;
    top : -6px;
    left : -33px;
    width:195px;
}
.populaire-img-c{
    position: absolute ;
    top : -40px;
    left : -7px;
    width:140px;
}
.populaire-imgs{
    position : relative;
    top : 10px;
    height : 500px;
    
}
.hebergement-imgs{
    position : relative;
    top : -10px;
    height : 431px;
    
}
.hebergement-img-contenair{
    overflow:hidden;
    position : relative;
    width :250px ;
    height :115px;
     margin-bottom: 8px;
}
.populaire-img-contenair{
    overflow:hidden;
    position : relative;
    width :128px ;
    height :137px;
}
.activites-imgs{
    
    width:100%;
}
.activite-a{
    padding-right: 40px;
    width :48%;
}
.activite-b{

    width :48%;
}
.activite-img{
    position: absolute;
    width:100%;
}

.activite-img-large-a{
    position: absolute;
    top:0px;
    left:-180px;
    width : 660px;
}
.activite-img-b{
    position: absolute;
    top:-105px;
    left:-0px;
    width : 300px;
}
.activite-img-c{
    position: absolute;
    top:-16px;
    left:-0px;
    width : 300px;
}
.activite-img-large-d{
    position: absolute;
    top:0px;
    left:-180px;
    width : 660px;
    filter: contrast(0.7) brightness(1.4) saturate(1.2);
    
}
.activite-img-e{
    position: absolute;
    top:1px;
    left:-0px;
    width : 300px;
}
.activite-img-f{
    position: absolute;
    top:-5px;
    left:-0px;
    width : 300px;
}
.activite-img-small-contenair-pomegue{
    position: relative;
    overflow:hidden;
    width :300px ;
    height :180px;
    border-radius:20px 20px 0px 0px;
    
}
.activite-img-small-contenair-frioul{
    position: relative;
    overflow:hidden;
    width :300px ;
    height :110px;
    border-radius:20px 20px 0px 0px;
}
.activite-img-small-contenair-notre{
    position: relative;
    overflow:hidden;
    width :300px ;
    height :140px;
    border-radius:20px 20px 0px 0px;
}
.activite-img-small-contenair-longchamp{
    position: relative;
    overflow:hidden;
    width :300px ;
    height :155px;
    border-radius:20px 20px 0px 0px;
}
.shadow:hover .activite-img-contenair{
    filter: brightness(1.05);
}
.activite-img-footer{
    padding-left :10px;
    height :55px;
    border-radius:0px 0px 20px 20px ;
}
.activite-img-big-contenair{
    position: relative;
    overflow:hidden;
    width :300px ;
    height :390px;
    border-radius:20px 20px 0px 0px;

}
.navigation{
    padding: 0px 20px 20px 20px ;
    border-top :2px solid  transparent ;  
    color: black;
}
a:hover{
    
    opacity :0.7;
}
.inscrire{
    padding: 0px 0px 20px 20px ;
    border-top :2px solid  transparent  ; 
   
}

.top-link{
    width : 410px;
    
}
.active{
color : #0065FC;
border-top :2px solid  #0065FC
}
.text-blue{
    color : #0065FC;
}
.research{
    margin : 0 ;
    font-size: 16px;
    font-weight:600;
}
.icon-research{
    background: #F2F2F2;
    width :50px;
    height:50px;
    border-radius: 12px 0px 0px 12px;
}
.icon-info{
    border : 2px  solid  #F2F2F2;
    width :24px;
    height:24px;
    border-radius:100% ;
    margin-right: 12px;
}
.info{
 margin : 35px 0px 35px 0px ;
}
.icon-blue{
    color : #0065FC;
}
.icon-grey{
    color : #D9D9D9;
}
.icon-filtre{
     font-size : 20px;
}
.icon-bill{
    font-size : 20px;
    transform :scaleX(0.7)
}
.nearest1{
    position : relative;
    left : -2px;
}
.nearest2{
    position : relative;
    left : -4px;
}
.nearest3{
    position : relative;
    left : -6px;
}
.nearest4{
    position : relative;
    left : -8px;
}
.filtres-container{
margin-top : 30px
}
.filtres{
    position : relative;
    padding-left : 53px;
    padding-right :18px;
    border: 2px solid #D9D9D9;
    border-radius: 48px;
    height :46px;
    width : 190;
    z-index : 0;
    cursor: pointer;
}
.blue-circle{
    position : absolute;
    background: #DEEBFF ;
    left: -2px;
    height :50px;
    width :50px;
    border-radius: 50%;
    z-index : 2 
}
.nav{
    padding : 0vh 0vw 0vh 55px ;
}
.hebergement{
    padding : 41px 40px 43px 40px;
    margin : 0 0vw 0vh 50px ;
    height : 541px;
    max-width : 800px;
    background : #F2F2F2;
    border-radius: 15px;
}
.populaire{
    padding : 41px 35px 35px 35px;
    max-width : 420px;
    margin : 0 50px 0 40px ;
    background : #F2F2F2;
    border-radius: 15px;
}
.activite{
    margin : 70px 50px 0 50px ;
}
.pop-p{
    position: relative;
    top : -20px;
    left:8px;
}
.pop-width{
    
    width :160px;
    padding : 5px 0px 5px 20px
}

.mcard-5px{
    margin : 5px 0px 5px 12px ;
}
.first-p{
    margin : 8px 0px 17px 0px;
}

.shadow{
    border-radius:20px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    cursor: pointer;
}
.mobile-nav{
    display: none;
}
.fa-search{
    display: none;
}

@media screen and (max-width: 500px) {
p{
    font-size:15.8px;
}
h2{
    font-size:22px;
}
.big-screen{
    display: none;
}
.small-screen{
    display :flex ;
    align-items : center;
    justify-content : center;
    height: 30px ;
    border-top :none ;  
    border-bottom :3px solid  #f2f2f2 ;  
    width : 50%;
    padding : 20px  0 10px 0 ;
    text-align: right;
}
.active{
    color : #0065FC;
    border-bottom :3px solid  #0065FC
    }
.mobile-nav{
    display: flex;
}
.header{
padding: 0 25px 0 20px;
}
.inscrire{
    width :fit-content;
    padding :0 0 15px 0 ;
    max-height: 55px;
}
.top-link{
    width :fit-content;
}
.first-title{
    margin : 40px  0 0 0;
}
.first-p{
    margin : 9px 0px 35px 0px;
}
.nav{
    padding :0  20px  0 20px ;
}
.input{
    padding-left : 18px ;
    width : 220px;
}
.research{
    display: none;
}
button{
    width : 50px;
    border-radius:  12px ;
    padding : 0 0px 0 0px ;
    cursor: pointer;
    
}

.fa-search{
    color : white;
    display: block;
    padding : 0 16px ;
    font-size :1.1rem;
}
.filtres-container{
    flex-direction: column;
}
.filtres{
    padding-left : 48px;
    padding-right :18px;
    margin: 14px 10px 0 0 ;
}

.filtres h3 {
    font-size : 16px;
}
.filtres-title{
    align-self: flex-start;
}
.info{
    position : relative;
}
.icon-info {
position : absolute;
top:-5px;

}
.info p{
    margin-left :38px;
}
#hebergement{
    flex-direction: column-reverse ;
}
.fa-chart-line{
font-size: 1.4em;
transform: scaleX(0.8);

}
.populaire{
    padding : 40px 20px 45px 20px  ;
    margin : 0 ;
    border-radius: 0;
    height : 505px ;
    justify-content:space-between;
    align-self: center;
}
.pop-card{
    width :325px;
    border : 5px solid white;
}
.populaire-imgs{
    align-items: center;
}
.hebergement{
   align-self: center;
    background-color : transparent;
    padding : 40px 20px 35px 20px  ;
    margin : 0 ;
    height: 1350px;
}
.img-card{
    width : 323px;
    background :white;
    border : 5px solid white;
}
.hebergement-img-contenair{
    width : 323px;
    overflow: hidden;
    
}
.hebergement-imgs {
    justify-content: center;
    position: relative;
    top: -0px;
     height: 1270px; 
}
.hebergement-img-a{
    position: absolute ;
    top : -55px;
    left : -10px;
    width:330px;
}
.hebergement-img-b{
    position: absolute ;
    top : -50px;
    left : 0px;
    width:330px;
}
.hebergement-img-c{
    position: absolute ;
    top : -50px;
    left : 0px;
    width:330px;
}
.hebergement-img-d{
    position: absolute ;
    top : -95px;
    left : -5px;
    width:330px;
}
.hebergement-img-e{
    position: absolute ;
    top : -35px;
    left : -2px;
    width:330px;
}
.hebergement-img-f{
    position: absolute ;
    top : -190px;
    left : -2px;
    width:330px;
}
.activite{
    margin : 20px 10px 0 10px ;
    height: 1290px;
    
}
.activites-imgs{
    min-width: 500px;
    flex-direction: column;
    justify-content: center;
    height: 1300px;
    flex-wrap: nowrap;
    align-items: center;
}
.mb-30px{
    margin-bottom: 10px;
    align-self: flex-start;
}
.activite-img-large-a{
    position: absolute;
    top:-20px;
    left:0px;
    width : 335px;
}
.activite-img-b{
    position: absolute;
    top:-155px;
    left:-0px;
    width : 335px;
}
.activite-img-c{
    position: absolute;
    top:-16px;
    left:-0px;
    width : 335px;
}
.activite-img-large-d{
    position: absolute;
    top:-15px;
    left:0px;
    width : 335px;
    filter: contrast(0.7) brightness(1.4) saturate(1.2);
    
}
.activite-img-e{
    position: absolute;
    top:-12px;
    left:-0px;
    width : 335px;
}
.activite-img-f{
    position: absolute;
    top:-30px;
    left:-0px;
    width : 335px;
}
.activite-img-small-contenair-pomegue{
    position: relative;
    overflow:hidden;
    width :335px ;
    height :135px;
    border-radius:20px 20px 0px 0px;
    
}
.activite-img-small-contenair-frioul{
    position: relative;
    overflow:hidden;
    width :335px ;
    height :135px;
    border-radius:20px 20px 0px 0px;
}
.activite-img-small-contenair-notre{
    position: relative;
    overflow:hidden;
    width :335px ;
    height :135px;
    border-radius:20px 20px 0px 0px;
}
.activite-img-small-contenair-longchamp{
    position: relative;
    overflow:hidden;
    width :335px ;
    height :135px;
    border-radius:20px 20px 0px 0px;
}
.activite-img-big-contenair{
    position: relative;
    overflow:hidden;
    width :335px ;
    height :135px;
    border-radius:20px 20px 0px 0px;
    margin-top: 20px;
}
.activite-a{
    flex-direction:column;
    justify-content:space-between;
    align-items: center;
    padding:0;
    height : 650px
}
.activite-b{
    flex-direction:column;
    justify-content:space-between;
    align-items: center;
    padding:0;
    height : 650px
}
.activite-c{
    justify-content:space-between;

height:410px;
}
.activite-d{
    justify-content:space-between;
    
    height:410px;
}
.shadow{
    height :fit-content
}
.footer{
    flex-direction: column;
    height :395px;
    background :#F2F2F2;
    padding : 45px 0 45px 30px;
    margin-top: 60px;
}
  }

 @media screen and (max-width: 1430px) and (min-width: 1000px)  {
   #hebergement{
        justify-content : space-around;
    }
    .hebergement{
        margin : 0  0 0 0px;
        padding : 41px 20px 43px 20px;
        max-width:550px;
        height: 750px;
    }
    .hebergement-imgs {
        justify-content:space-around;
        min-width:500px;
        position: relative;
        top: -0px;
         height: 630px; 
    }
    .populaire{
       
       margin: 0 0px 0 0px;
       padding : 41px 20px 150px 20px;
       align-items: center;
        justify-content:space-around;
        
    }
    .pop-card{
        width :325px;
        border : 5px solid white;
    }
   
    .populaire-imgs{
        height: 550px;;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction:column;
        align-items: center;
    }
    .activite{
        margin : 70px 0px 0 0px ;

    }
    .activites-imgs{
        align-self:center;
    flex-direction:column;
    justify-content: space-around;
    height: 750px;
    width :1000px;
    }
    .activite-img-large-a{
        position: absolute;
        top:-20px;
        left:0px;
        width : 335px;
    }
    .activite-img-b{
        position: absolute;
        top:-155px;
        left:-0px;
        width : 335px;
    }
    .activite-img-c{
        position: absolute;
        top:-16px;
        left:-0px;
        width : 335px;
    }
    .activite-img-large-d{
        position: absolute;
        top:-15px;
        left:0px;
        width : 335px;
        filter: contrast(0.7) brightness(1.4) saturate(1.2);
        
    }
    .activite-img-e{
        position: absolute;
        top:-12px;
        left:-0px;
        width : 335px;
    }
    .activite-img-f{
        position: absolute;
        top:-30px;
        left:-0px;
        width : 335px;
    }
    .activite-img-small-contenair-pomegue{
        position: relative;
        overflow:hidden;
        width :335px ;
        height :135px;
        border-radius:20px 20px 0px 0px;
        
    }
    .activite-img-small-contenair-frioul{
        position: relative;
        overflow:hidden;
        width :335px ;
        height :135px;
        border-radius:20px 20px 0px 0px;
    }
    .activite-img-small-contenair-notre{
        position: relative;
        overflow:hidden;
        width :335px ;
        height :135px;
        border-radius:20px 20px 0px 0px;
    }
    .activite-img-small-contenair-longchamp{
        position: relative;
        overflow:hidden;
        width :335px ;
        height :135px;
        border-radius:20px 20px 0px 0px;
    }
    .activite-img-big-contenair{
        position: relative;
        overflow:hidden;
        width :335px ;
        height :135px;
        border-radius:20px 20px 0px 0px;
        margin-top: 0px;
    }
    .shadow{
        height :fit-content
    }
    .activite-a{
        flex-direction:column;
        justify-content:space-between;
        align-items: center;
        padding:0;
        height : 650px
    }
    .activite-b{
        flex-direction:column;
        justify-content:space-between;
        align-items: center;
        padding:0;
        height : 650px
    }
    .activite-c{
        justify-content:space-between;
    
    height:420px;
    }
    .activite-d{
        justify-content:space-between;
        
        height:420px;
    }
  }
  @media screen and (max-width: 820px) and (min-width: 501px)  {
    .big-screen{
        display: none;
    }
    .small-screen{
        display :flex ;
        align-items : center;
        justify-content : center;
        height: 30px ;
        border-top :none ;  
        border-bottom :3px solid  #f2f2f2 ;  
        width : 50%;
        padding : 20px  0 10px 0 ;
        text-align: right;
    }
    .active{
        color : #0065FC;
        border-bottom :3px solid  #0065FC
        }
    .mobile-nav{
        display: flex;
    }
    .header{
    padding: 0 25px 0 20px;
    }
    .inscrire{
        width :fit-content;
        padding :0 0 15px 0 ;
        max-height: 55px;
    }
    .top-link{
        width :fit-content;
    }
    .first-title{
        margin : 40px  0 0 0;
    }
    .first-p{
        margin : 9px 0px 35px 0px;
    }
    .nav{
        padding :0  20px  0 20px ;
    }
    .input{
        padding-left : 18px ;
        width : 220px;
    }
    .research{
        display: none;
    }
    button{
        width : 50px;
        border-radius:  12px ;
        padding : 0 0px 0 0px ;
        cursor: pointer;
        
    }
    
    .fa-search{
        color : white;
        display: block;
        padding : 0 16px ;
        font-size :1.1rem;
    }
    .filtres-container{
        flex-direction: column;
    }
    .filtres{
        padding-left : 48px;
        padding-right :18px;
        margin: 14px 10px 0 0 ;
    }
    
    .filtres h3 {
        font-size : 16px;
    }
    .filtres-title{
        align-self: flex-start;
    }
    .info{
        position : relative;
    }
    .icon-info {
    position : absolute;
    top:-5px;
    
    }
    .info p{
        margin-left :38px;
    }

    .fa-chart-line{
    font-size: 1.4em;
    transform: scaleX(0.8);
    
    }
    .populaire{
        padding : 40px 20px 45px 20px  ;
        margin : 0 0 40px 0 ;
        height : 505px ;
        justify-content:space-between;
        align-self: center;
    }
    .pop-card{
        width :325px;
        border : 5px solid white;
    }
    .populaire-imgs{
        align-items: center;
    }
    #hebergement{
        flex-direction: column-reverse ;
        justify-content : space-between;
        align-items:center;
        width : 100%;
    }
    .hebergement{
        margin : 0  0 40px 0px;
        padding : 41px 0px 43px 0px;
        min-width:500px;
        max-width:650px;
        height: 750px;
    }
    .hebergement-imgs {
        position: relative;
        top: -0px;
         height: 630px; 
         justify-content :space-around
    }
    .activite{
        margin : 20px 10px 0 10px ;
        height: 1290px;
        
    }
    .activites-imgs{
        min-width: 500px;
        flex-direction: column;
        justify-content: center;
        height: 1300px;
        flex-wrap: nowrap;
        align-items: center;
    }
    .mb-30px{
        margin-bottom: 10px;
        align-self: flex-start;
    }
    .activite-img-large-a{
        position: absolute;
        top:-20px;
        left:0px;
        width : 335px;
    }
    .activite-img-b{
        position: absolute;
        top:-155px;
        left:-0px;
        width : 335px;
    }
    .activite-img-c{
        position: absolute;
        top:-16px;
        left:-0px;
        width : 335px;
    }
    .activite-img-large-d{
        position: absolute;
        top:-15px;
        left:0px;
        width : 335px;
        filter: contrast(0.7) brightness(1.4) saturate(1.2);
        
    }
    .activite-img-e{
        position: absolute;
        top:-12px;
        left:-0px;
        width : 335px;
    }
    .activite-img-f{
        position: absolute;
        top:-30px;
        left:-0px;
        width : 335px;
    }
    .activite-img-small-contenair-pomegue{
        position: relative;
        overflow:hidden;
        width :335px ;
        height :135px;
        border-radius:20px 20px 0px 0px;
        
    }
    .activite-img-small-contenair-frioul{
        position: relative;
        overflow:hidden;
        width :335px ;
        height :135px;
        border-radius:20px 20px 0px 0px;
    }
    .activite-img-small-contenair-notre{
        position: relative;
        overflow:hidden;
        width :335px ;
        height :135px;
        border-radius:20px 20px 0px 0px;
    }
    .activite-img-small-contenair-longchamp{
        position: relative;
        overflow:hidden;
        width :335px ;
        height :135px;
        border-radius:20px 20px 0px 0px;
    }
    .activite-img-big-contenair{
        position: relative;
        overflow:hidden;
        width :335px ;
        height :135px;
        border-radius:20px 20px 0px 0px;
        margin-top: 20px;
    }
    .activite-a{
        flex-direction:column;
        justify-content:space-between;
        align-items: center;
        padding:0;
        height : 650px
    }
    .activite-b{
        flex-direction:column;
        justify-content:space-between;
        align-items: center;
        padding:0;
        height : 650px
    }
    .activite-c{
        justify-content:space-between;
    
    height:410px;
    }
    .activite-d{
        justify-content:space-between;
        
        height:410px;
    }
    .shadow{
        height :fit-content
    }
    .footer{
        flex-direction: column;
        height :395px;
        background :#F2F2F2;
        padding : 45px 0 45px 30px;
        margin-top: 60px;
    }
  }
  @media screen and (max-width: 999px) and (min-width: 821px)  {
    .big-screen{
        display: none;
    }
    .small-screen{
        display :flex ;
        align-items : center;
        justify-content : center;
        height: 30px ;
        border-top :none ;  
        border-bottom :3px solid  #f2f2f2 ;  
        width : 50%;
        padding : 20px  0 10px 0 ;
        text-align: right;
    }
    .active{
        color : #0065FC;
        border-bottom :3px solid  #0065FC
        }
    .mobile-nav{
        display: flex;
    }
    .header{
    padding: 0 25px 0 20px;
    }
    .inscrire{
        width :fit-content;
        padding :0 0 15px 0 ;
        max-height: 55px;
    }
    .top-link{
        width :fit-content;
    }
    .first-title{
        margin : 40px  0 0 0;
    }
    .first-p{
        margin : 9px 0px 35px 0px;
    }
    .nav{
        padding :0  20px  0 20px ;
    }
    .input{
        padding-left : 18px ;
        width : 220px;
    }
    .research{
        display: none;
    }
    button{
        width : 50px;
        border-radius:  12px ;
        padding : 0 0px 0 0px ;
        cursor: pointer;
        
    }
    
    .fa-search{
        color : white;
        display: block;
        padding : 0 16px ;
        font-size :1.1rem;
    }
    .filtres-container{
        flex-direction: column;
    }
    .filtres{
        padding-left : 48px;
        padding-right :18px;
        margin: 14px 10px 0 0 ;
    }
    
    .filtres h3 {
        font-size : 16px;
    }
    .filtres-title{
        align-self: flex-start;
    }
    .info{
        position : relative;
    }
    .icon-info {
    position : absolute;
    top:-5px;
    
    }
    .info p{
        margin-left :38px;
    }

    .fa-chart-line{
    font-size: 1.4em;
    transform: scaleX(0.8);
    
    }
    .populaire{
        padding : 40px 20px 45px 20px  ;
        margin : 0 0 40px 0 ;
        
        height : 505px ;
        justify-content:space-between;
        align-self: center;
    }
    .pop-card{
        width :325px;
        border : 5px solid white;
    }
    .populaire-imgs{
        align-items: center;
    }
    #hebergement{
        flex-direction: column-reverse ;
        justify-content : center;
        width : 100%;
    }
    .hebergement{
        align-self: center;
       
        margin : 0  0 40px 0px;
        padding : 41px 10px 43px 10px;
        min-width:500px;
        max-height: 750px;
    }
    .hebergement-imgs {
        align-self: center;
        position: relative;
        top: -0px;
         height: 430px; 
    }
    .activite{
        margin : 20px 10px 0 10px ;
        height: 1290px;
        
    }
    .activites-imgs{
        min-width: 500px;
        flex-direction: column;
        justify-content: center;
        height: 1300px;
        flex-wrap: nowrap;
        align-items: center;
    }
    .mb-30px{
        margin-bottom: 10px;
        align-self: flex-start;
    }
    .activite-img-large-a{
        position: absolute;
        top:-20px;
        left:0px;
        width : 335px;
    }
    .activite-img-b{
        position: absolute;
        top:-155px;
        left:-0px;
        width : 335px;
    }
    .activite-img-c{
        position: absolute;
        top:-16px;
        left:-0px;
        width : 335px;
    }
    .activite-img-large-d{
        position: absolute;
        top:-15px;
        left:0px;
        width : 335px;
        filter: contrast(0.7) brightness(1.4) saturate(1.2);
        
    }
    .activite-img-e{
        position: absolute;
        top:-12px;
        left:-0px;
        width : 335px;
    }
    .activite-img-f{
        position: absolute;
        top:-30px;
        left:-0px;
        width : 335px;
    }
    .activite-img-small-contenair-pomegue{
        position: relative;
        overflow:hidden;
        width :335px ;
        height :135px;
        border-radius:20px 20px 0px 0px;
        
    }
    .activite-img-small-contenair-frioul{
        position: relative;
        overflow:hidden;
        width :335px ;
        height :135px;
        border-radius:20px 20px 0px 0px;
    }
    .activite-img-small-contenair-notre{
        position: relative;
        overflow:hidden;
        width :335px ;
        height :135px;
        border-radius:20px 20px 0px 0px;
    }
    .activite-img-small-contenair-longchamp{
        position: relative;
        overflow:hidden;
        width :335px ;
        height :135px;
        border-radius:20px 20px 0px 0px;
    }
    .activite-img-big-contenair{
        position: relative;
        overflow:hidden;
        width :335px ;
        height :135px;
        border-radius:20px 20px 0px 0px;
        margin-top: 20px;
    }
    .activite-a{
        flex-direction:column;
        justify-content:space-between;
        align-items: center;
        padding:0;
        height : 650px
    }
    .activite-b{
        flex-direction:column;
        justify-content:space-between;
        align-items: center;
        padding:0;
        height : 650px
    }
    .activite-c{
        justify-content:space-between;
    
    height:410px;
    }
    .activite-d{
        justify-content:space-between;
        
        height:410px;
    }
    .shadow{
        height :fit-content
    }
    
  }